<!-- Let's output the three variables passed to this template -->

<h1>Twig template.</h1>

<p>Amount of seconds that have passed in the current hour: <b>{{ variable4 }}</b></p>

<!--
<p>You passed this text: <b>{{ variable1 }}</b></p>
<p>You passed this number value: {{ variable2 }}</p>
<p>And you passed this array:</p>

<ul>
  {% for item in variable3 %}
    <li>
       {{ item }} 
    </li>        
  {% endfor %}    
</ul>
-->